:root {
  --yellow: #ff9f00;
  --grey: #ececec;
}

/* font */
@import url("http://fonts.cdnfonts.com/css/avenir-lt-std");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Avenir LT Std", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

/* reuse */
.btn-transparent {
  background-color: transparent;
}

.bg-grey {
  background-color: var(--grey);
}

button {
  border-radius: 10px;
}

.page {
  min-height: 100vh;
  background-color: var(--grey);
}

.container-full {
  width: 100vw;
}

.home-page {
  background: var(--yellow);
  min-height: 100vh;
  padding-top: 132px;
}

.title-home {
  font-size: 72px;
}

.img-home {
  min-width: 100%;
  width: 100%;
}

.list {
  padding: 0 2em 2em 2em;
  background: #ffffff;
  height: 100vh;
}
.list ul {
  list-style: none;
  padding: 0 2em;
}

.list ul li {
  font-size: 20px;
  cursor: pointer;
}

.list ul li:hover {
  color: var(--yellow);
}

.list ul li:hover ~ svg {
  background: var(--yellow);
}

.title-menu {
  padding: 1em;
}

.list-menu {
  padding: 1em 0;
  display: flex;
}

.logout {
  font-size: 20px;
  padding: 0 2em;
  cursor: pointer;
}

.icon-edit-link:hover {
  background-color: var(--yellow);
  border-radius: 10px;
  cursor: pointer;
}

.list-preview {
  transition: transform ease 1s;
}

.list-preview:hover {
  transform: scale(1.1);
}

.image-preview {
  min-width: 5em;
  width: 5em;
  min-height: 5em;
  height: 5em;
  object-fit: cover;
}

.img-social-preview {
  width: 3.125em;
  min-width: 3.125em;
}

.iframe-container {
  overflow: hidden;
  padding-top: 125%;
  position: relative;
  height: 100%;
}

.iframe-container iframe {
  border: 0;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

iframe {
  overflow: hidden;
}

.title-list-link {
  font-size: 14px;
}

.input-line:focus {
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

@media (min-width: 1000px) {
  .container-preview {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .list-preview-container {
    width: 50%;
  }

  .list-preview {
    padding: 0 1em;
  }
}

@media (max-width: 768px) {
  .list-preview-container {
    width: 100%;
  }

  .list-preview-container img {
    width: 50%;
    max-width: 50%;
  }

  .list-preview {
    padding: 0;
  }

  .title-preview {
    font-size: 1em;
  }

  .subtitle-preview {
    font-size: 0.7em;
  }
}
